@keyframes stamp-pulse {
    from {
        opacity: 0.3;
    }
    to {
        opacity: 0.55;
    }
}

@keyframes stamp-appear {
    from {
        opacity: 0;
        transform: rotate(-20deg) scale(1.5) translateY(-2vw);
    }
    to {
        opacity: 0.5;
        transform: rotate(-7deg) scaleY(0.9);
    }
}

@keyframes stamp-fade {
    from {
       
    }
    to {
        opacity: 0;
    }
}